{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body_class %}{% endblock %}

{% block banner %}
	{% block content %}
	    <h2>About</h2>
	    <ul>
	        <p class="lead">This website was created by James Campbell, Sam Ewen, Samuel Dunkley and Matt Jones as part of a project for their degree. They all currently study Mathematics at Cardiff University.</p>
	        <div class="g-person" data-width="200" data-href="//plus.google.com/103944008095354003273" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
		    <div class="g-person" data-width="200" data-href="//plus.google.com/107921561116596398340" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
		    <div class="g-person" data-width="200" data-href="//plus.google.com/109674045473531460047" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
		    <div class="g-person" data-width="200" data-href="https://plus.google.com/100765228447202127252" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
	    </ul>


	    <!-- Place this tag after the last widget tag. -->
		<script type="text/javascript">
		  window.___gcfg = {lang: 'en-GB'};

		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/platform.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	{% endblock %}
{% endblock %}



