{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body_class %}{% endblock %}

{% block banner %}
	{% block content %}
	    <h1 style="text-align:left;">About
	    <span style="float:right;">
	    <a href="https://twitter.com/_thefightclub" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @_thefightclub</a>
	    </span></h1>

	    <h3>The Maths</h3>
	        <p class="lead">
	        You may be wondering how your votes affect the overall rankings on the site, allow us to explain...
	        <br><br>
	        Every Fighter has a hidden rating that the general public never see. Every time you choose the winner of a Fight, the server uses the <a href="http://en.wikipedia.org/wiki/Elo_rating_system" target="_blank" >ELO Algorithm</a> to update each Fighters rankings. The Fighters are listed in order of rating, and voila! We have our new Top10.
	        <br><br>
	        I'm intrigued, tell me more...
	        <br><br>
	        How about we do an example? You're given a fight between Gandalf and Han Solo, Gandalf has a hidden rating of 1720 and Han's is 1550. First, the algorithm calulates the probability of each Fighter winning based on these ratings.
	        <br><br>
			Probability Gandalf Wins = 1 &divide; (1 + 10^(( Han's Rating - Gandalf's Rating ) &divide; 400)) = 0.727<br>
			Probability Han Wins = 1 &divide; (1 + 10^(( Gandalf's Rating - Han's Rating ) &divide; 400)) = 0.273
			<br><br>
			Now, lets pretend that you say Gandalf will win (obviously he would). He gains 20 x (1 - 0.727) = 5.46 points onto his rating and Han loses the same amount.<br>
			In the unlikely even that Han won (is that even possible?..). He gains 20 x (1 - 0.273) = 14.54 points onto his rating and Gandalf loses that amount.
			<br><br>
			Notice that if the Fighter with the lower rating wins, he gains more points than if the Fighter with the higher rating wins. This process happens after every fight that takes place and it is what ensures TheFightClub displays a fair representation of the public's opinion.
	        </p>
	    <h3>The Team</h3>
	        <p class="lead">This website was created by James Campbell, Sam Ewen, Samuel Dunkley and Matt Jones as part of a project for their degree. They all currently study Mathematics at Cardiff University and have top banter because they are top lads.</p>
	    <ul>
	        <div class="g-person" data-width="200" data-href="//plus.google.com/103944008095354003273" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
		    <div class="g-person" data-width="200" data-href="//plus.google.com/107921561116596398340" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
		    <div class="g-person" data-width="200" data-href="//plus.google.com/109674045473531460047" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
		    <div class="g-person" data-width="200" data-href="https://plus.google.com/100765228447202127252" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
	    </ul>


	    <!-- Place this tag after the last widget tag. -->
		<script type="text/javascript">
		  window.___gcfg = {lang: 'en-GB'};

		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/platform.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>

		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	{% endblock %}
{% endblock %}



