{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Info" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
	{% block content %}
	    <h2>{{fighter.name}}</h2>
	    <ul>
		    	<li>Current Ranking: {{ fighter.rank }}</li>
	            <li>Fights Won: {{ fighter.fightswon }}</li>
	            <li>Fights Lost: {{ fighter.fightslost }}</li>
	            <li>Side: {{ fighter.get_side_display }}</li>
	            <li>Description: {{ fighter.description }}</li>
	    </ul>
	{% endblock %}
{% endblock %}