{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Info" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
	{% block content %}
	    <h2>{{fighter.name}}</h2>
	    <ul>
		    	<li>Current Ranking: {{ fighter.rank }}</li>
	            <li>Fights Won: {{ won }}</li>
	            <li>Fights Lost: {{ lost }}</li>
	            <li>Side: {{ fighter.get_side_display }}</li>
	            <li>Description: {{ fighter.description|safe }}</li>
	    </ul>
	    <div id="chart_div" style="width: 900px; height: 500px;"></div>
		<head>
		    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		    <script type="text/javascript">
		      google.load("visualization", "1", {packages:["corechart"]});
		      google.setOnLoadCallback(drawChart);
		      function drawChart() {
		        var data = new google.visualization.DataTable();
				data.addColumn('number', 'count');
				data.addColumn('number', 'ranking');
				data.addColumn('number', 'average');
				{% for i in ratings %}
					data.addRows([
					  [{{ forloop.counter }}, {{ i }}, 1600],
					]);
				{% endfor %}

		        var options = {
		          title: 'Ratings over time',
		          curveType: 'function',
		          legend: 'none'
		        };

		        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		        chart.draw(data, options);
		      }
		    </script>
		</head>
	{% endblock %}

{% endblock %}