{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Fight" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    {% block content %}
	    <h2>Fight! <a href="https://twitter.com/intent/tweet?button_hashtag=GandalfVsDumbledore&text=I%20love%20the%20FightClub" class="twitter-hashtag-button" data-lang="en" data-related="jasoncosta">Tweet #GanalfVsDumbledore</a>
        </h2>

	    <form class="form-inline" role="form" action="" method="post">
            {% csrf_token %}
		    {{ form.as_p }}
            <button class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">Who are they?</button>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  ...
                </div>
              </div>
            </div>

		    <button type="submit" class="btn btn-action">Submit</button>
		</form>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	{% endblock %}
{% endblock %}
