{% load i18n %}

{% trans "&copy; 2013 &lt;TheFightClub&gt;" %}
<span style="float:right;">
    <a href="https://twitter.com/_thefightclub" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @_thefightclub</a>

    <iframe src="http://ghbtns.com/github-btn.html?user=theref&repo=fightclub&type=watch&count=true&size=large"
    allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30">
    </iframe>
</span>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>